/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  margin: 0px;
  padding: 0px;
  /* font-family: 'Poppins'; */ 
  font-size: 22px;
}

/* :root {
  --font-alfa-slab-one: 'Alfa Slab One', sans-serif;
  --font-kanit: 'Kanit', sans-serif;
  --font-baloo-2: 'Baloo 2', sans-serif;
}

.alfa {
  font-family: var(--font-alfa-slab-one);
}

.kanit {
  font-family: var(--font-kanit);
}

.baloo2 {
  font-family: var(--font-baloo-2);
} */

/*
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
